<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${product.name}">Product Details</title>
</head>
<body>

<a th:href="@{/products}">← Back to Products</a>
<hr>

<h1 th:text="${product.name}"></h1>

<img th:src="${product.imageUrl}" width="300" height="300" />

<p th:text="${product.description}"></p>

<h2>₹<span th:text="${product.price}"></span></h2>

<a th:href="@{/add-to-cart/{id}(id=${product.id})}">
    <button>Add to Cart</button>
</a>

</body>
</html>
